<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>GuessTheWord</title>

<script th:inline="javascript">
	window.onload=function checkIfGameOver(){
		var numberOfTriesRemaining = [[${triesLeft}]];
		if(numberOfTriesRemaining===0){
		alert("Game Over!");
		document.getElementById('guessedChar').disabled=true;
		document.getElementById('try').disabled=true;
		}
	}
  
	function reloadGame(){
		window.location.href="http://localhost:8080/reload";
	}
</script>

</head>
<body>
<h1 align="center">Guess The Word</h1>
<h2 align="center" th:text="${wordToDisplay}">show a random word here</h2>
<h2 align="right" th:text="'Tries Remaining : ' + ${triesLeft}">Show no of tries left here</h2>
<hr/>
<input type="button" value="Reload" id="reload" style="float:right;" onclick="reloadGame();">
<div align="center">
	<form action="game_home" method="GET">
		<label>Guess a Char : </label>
		<input type="text" name="guessedChar" id="guessedChar"/>
		<input type="submit" value="try" id="try">
	</form>
</div>
</body>
</html>